Django>=4
djangorestframework
psycopg2-binary
django-bootstrap4
whitenoise
lcogt-logging
hop-client
django-cors-headers
mozilla-django-oidc
marshmallow
astropy
django-extensions # for shell_plus debugging
requests
scramp
