{% extends 'base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <h3>Current user: {{ user.email }}</h3>
    <form action="{% url 'oidc_logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="logout">
    </form>
  {% else %}
    <a href="{% url 'oidc_authentication_init' %}"><h4>Login</h4></a>
  {% endif %}
  <hr>
    <h1>Messages</h1>
  {% if message_list %}
  <ul>
    {% for message in message_list %}
      <li>
        <a href="{% url 'message-info' message.pk %}">{{ message.title }}</a> ({{message.author}}) [{{ message.created }}]
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no messages.</p>
  {% endif %}
{% endblock %}